In [1]:
import numpy as np
import pandas as pd
import glob
from operator import sub
import os

In [2]:
os.chdir("/Users/sanyas/Desktop/projects")

In [3]:
df = pd.read_excel("formation.xls")

In [4]:
df.head()

     API Number Well Number Form Alias   Top MD
0  490252206600        2-22      SHNNu   902.35
1  490252206600        2-22    SSXbase   541.44
2  490252206600        2-22       SSXS   488.36
3  490252206600        2-22      SHNNl  1005.26
4  490252206600        2-22     SHNNbs  1070.76

In [5]:
df['Form Alias'].unique()

array(['SHNNu', 'SSXbase', 'SSXS', 'SHNNl', 'SHNNbs', 'NBRRws', 'NBRRsg',
       'CRLL', 'F1WC', 'F1WCbase', 'F2WC', 'F2WCbase', 'MWRY', 'F3WC',
       'F3WCbase', 'DKOT', 'LKOT', 'MRSN', 'B1', 'StFT', 'StGD', 'MDDY',
       'StAM', 'StBR', 'F1WCBench1Base', 'F1WCBench2Top',
       'F1WCBench2Base', 'F1WCBench3Top', 'A Sand', 'B Dolo', 'B Sand',
       'C1 Dolo', 'MNKT', 'OPCH', 'THRM', 'TensleepFluidLevel', 'ALCV',
       'LAKev', 'CRMT', 'LAKss', 'CNSP', 'FRLL', 'StTC', 'SNDCu', 'RDPK',
       'ERVY', 'C2 Sand', 'C3 Dolo', 'C3 Sand', 'C4 Dolo', 'C4 Sand',
       'D Dolo', 'C1 Sand', 'C2 Dolo', 'E Dolo', 'D Sand', 'GLND', 'PC',
       'MDSN', 'AMSD'], dtype=object)

In [6]:
df['Form Alias']

0          SHNNu
1        SSXbase
2           SSXS
3          SHNNl
4         SHNNbs
          ...
7280    F2WCbase
7281        MWRY
7282        DKOT
7283        LKOT
7284       SHNNu
Name: Form Alias, Length: 7285, dtype: object

In [7]:
labels = df['Form Alias'].unique().tolist()
mapping = dict( zip(labels,range(len(labels))) )
df.replace({'Form Alias': mapping},inplace=True)
# Transfer all the different types of formations into numerical values

In [8]:
df.head()

     API Number Well Number  Form Alias   Top MD
0  490252206600        2-22           0   902.35
1  490252206600        2-22           1   541.44
2  490252206600        2-22           2   488.36
3  490252206600        2-22           3  1005.26
4  490252206600        2-22           4  1070.76

In [9]:
mapping

{'SHNNu': 0,
 'SSXbase': 1,
 'SSXS': 2,
 'SHNNl': 3,
 'SHNNbs': 4,
 'NBRRws': 5,
 'NBRRsg': 6,
 'CRLL': 7,
 'F1WC': 8,
 'F1WCbase': 9,
 'F2WC': 10,
 'F2WCbase': 11,
 'MWRY': 12,
 'F3WC': 13,
 'F3WCbase': 14,
 'DKOT': 15,
 'LKOT': 16,
 'MRSN': 17,
 'B1': 18,
 'StFT': 19,
 'StGD': 20,
 'MDDY': 21,
 'StAM': 22,
 'StBR': 23,
 'F1WCBench1Base': 24,
 'F1WCBench2Top': 25,
 'F1WCBench2Base': 26,
 'F1WCBench3Top': 27,
 'A Sand': 28,
 'B Dolo': 29,
 'B Sand': 30,
 'C1 Dolo': 31,
 'MNKT': 32,
 'OPCH': 33,
 'THRM': 34,
 'TensleepFluidLevel': 35,
 'ALCV': 36,
 'LAKev': 37,
 'CRMT': 38,
 'LAKss': 39,
 'CNSP': 40,
 'FRLL': 41,
 'StTC': 42,
 'SNDCu': 43,
 'RDPK': 44,
 'ERVY': 45,
 'C2 Sand': 46,
 'C3 Dolo': 47,
 'C3 Sand': 48,
 'C4 Dolo': 49,
 'C4 Sand': 50,
 'D Dolo': 51,
 'C1 Sand': 52,
 'C2 Dolo': 53,
 'E Dolo': 54,
 'D Sand': 55,
 'GLND': 56,
 'PC': 57,
 'MDSN': 58,
 'AMSD': 59}

In [10]:
X = df['Form Alias']
from sklearn import preprocessing
standardized_X = preprocessing.scale(X)
# standardize formation

In [11]:
standardized_X

array([-0.9837844 , -0.87807057, -0.77235673, ...,  0.60192311,
        0.70763694, -0.9837844 ])