In [127]:
import pandas as pd
import numpy as np
import os

In [128]:
#reads in CSV file with Norway data
df = pd.read_csv("/Users/samirabr12/Downloads/Norway_Stan")

In [129]:
#Prints out data in dataframe
df.head()

,Unnamed: 0,Name,X,Y,True Vertical Depth,Normalized TVD,Formation
0,0,21675,628531.41,6394710.62,2732.90,0.175273,-1.215791
1,1,21660,628531.41,6394710.62,2732.90,0.175273,-1.176869
2,2,21656,628531.47,6394710.62,2794.90,0.179472,-1.137946
3,3,21664,628531.50,6394710.61,2826.90,0.181639,-1.099024
4,4,21668,628531.27,6394713.59,4516.88,0.296098,-1.060102

In [130]:
#Drops the column with index names "Unnamed:0" because it is not useful
cols = [0]
df.drop(df.columns[cols],axis=1,inplace=True)
df.head()

,Name,X,Y,True Vertical Depth,Normalized TVD,Formation
0,21675,628531.41,6394710.62,2732.90,0.175273,-1.215791
1,21660,628531.41,6394710.62,2732.90,0.175273,-1.176869
2,21656,628531.47,6394710.62,2794.90,0.179472,-1.137946
3,21664,628531.50,6394710.61,2826.90,0.181639,-1.099024
4,21668,628531.27,6394713.59,4516.88,0.296098,-1.060102

In [131]:
# Gets column names and prints them 
column_names = df.columns
print(column_names)
# Gets column data types
df.dtypes
# Checks if the column is unique
for i in column_names:
  print('{} is unique: {}'.format(i, df[i].is_unique))

Index(['Name', 'X', 'Y', 'True Vertical Depth', 'Normalized TVD', 'Formation'], dtype='object')
Name is unique: True
X is unique: False
Y is unique: False
True Vertical Depth is unique: False
Normalized TVD is unique: False
Formation is unique: False

In [132]:
# Check the index values
df.index.values

array([    0,     1,     2, ..., 21673, 21674, 21675])

In [133]:
#Drops the rows with NaN and empty cells because they are not needed
df = df.dropna()
df = df.dropna(how='all')
print(df)
#Prints the index values to check changes
df.index.values

        Name          X           Y  True Vertical Depth  Normalized TVD  \
0      21675  628531.41  6394710.62              2732.90        0.175273
1      21660  628531.41  6394710.62              2732.90        0.175273
2      21656  628531.47  6394710.62              2794.90        0.179472
3      21664  628531.50  6394710.61              2826.90        0.181639
4      21668  628531.27  6394713.59              4516.88        0.296098
...      ...        ...         ...                  ...             ...
21671  18878  580466.31  6356474.78              2435.50        0.155130
21672  18877  580466.31  6356474.78               165.50        0.001388
21673  18876  580466.31  6356474.78              3523.50        0.228818
21674  18868  580466.31  6356474.78              3619.50        0.235320
21675  18872  580466.31  6356474.78              1105.50        0.065052

       Formation
0      -1.215791
1      -1.176869
2      -1.137946
3      -1.099024
4      -1.060102
...          ...
21671  -0.631959
21672  -0.593036
21673  -0.554114
21674  -0.515192
21675  -0.359504

[21676 rows x 6 columns]

array([    0,     1,     2, ..., 21673, 21674, 21675])

In [134]:
#Prints final dataframe after cleaning
df.head()

,Name,X,Y,True Vertical Depth,Normalized TVD,Formation
0,21675,628531.41,6394710.62,2732.90,0.175273,-1.215791
1,21660,628531.41,6394710.62,2732.90,0.175273,-1.176869
2,21656,628531.47,6394710.62,2794.90,0.179472,-1.137946
3,21664,628531.50,6394710.61,2826.90,0.181639,-1.099024
4,21668,628531.27,6394713.59,4516.88,0.296098,-1.060102