In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import normalize
from scipy.sparse import coo_matrix, csr_matrix
%matplotlib inline
import os

In [2]:
os.chdir("/Users/sanyas/Desktop/projects")

In [12]:
df_1 = pd.read_csv("Norway_Stan.csv")
df_well = pd.read_csv("Norway.csv")
#Merge the 2 CSVs by API number
df_merged = df_well.merge(df_1, how = "left", on = "Name")
print(df_merged.head())

   Unnamed: 0_x    Name               Surface        X_x         Y_x       Z  \
0         21675  10/4-1  CROMER KNOLL GP. Top  628531.41  6394710.62 -1350.9
1         21675  10/4-1  CROMER KNOLL GP. Top  628531.41  6394710.62 -1350.9
2         21675  10/4-1  CROMER KNOLL GP. Top  628531.41  6394710.62 -1350.9
3         21675  10/4-1  CROMER KNOLL GP. Top  628531.41  6394710.62 -1350.9
4         21675  10/4-1  CROMER KNOLL GP. Top  628531.41  6394710.62 -1350.9

       MD  Geological age  TVT  TST  ... Unnamed: 34  Unnamed: 35  \
0  1382.0            4.21  NaN  NaN  ...         NaN          NaN
1  1382.0            4.21  NaN  NaN  ...         NaN          NaN
2  1382.0            4.21  NaN  NaN  ...         NaN          NaN
3  1382.0            4.21  NaN  NaN  ...         NaN          NaN
4  1382.0            4.21  NaN  NaN  ...         NaN          NaN

   Unnamed: 36  Unnamed: 37  Unnamed: 0_y        X_y         Y_y  \
0          NaN          NaN             0  628531.41  6394710.62
1          NaN          NaN             1  628531.41  6394710.62
2          NaN          NaN             2  628531.47  6394710.62
3          NaN          NaN             3  628531.50  6394710.61
4          NaN          NaN             4  628531.27  6394713.59

   True Vertical Depth  Normalized TVD  Formation
0            -23025.90        0.112166  -1.215791
1            -23010.90        0.112748  -1.176869
2            -23037.90        0.111701  -1.137946
3            -23061.90        0.110770  -1.099024
4            -23910.88        0.077844  -1.060102

[5 rows x 44 columns]

In [15]:
df_merged.head()

,Unnamed: 0_x,Name,Surface,X_x,Y_x,Z,MD,Geological age,TVT,TST,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 0_y,X_y,Y_y,True Vertical Depth,Normalized TVD,Formation
0,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,...,NaN,NaN,NaN,NaN,0,628531.41,6394710.62,-23025.90,0.112166,-1.215791
1,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,...,NaN,NaN,NaN,NaN,1,628531.41,6394710.62,-23010.90,0.112748,-1.176869
2,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,...,NaN,NaN,NaN,NaN,2,628531.47,6394710.62,-23037.90,0.111701,-1.137946
3,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,...,NaN,NaN,NaN,NaN,3,628531.50,6394710.61,-23061.90,0.110770,-1.099024
4,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,...,NaN,NaN,NaN,NaN,4,628531.27,6394713.59,-23910.88,0.077844,-1.060102

In [17]:
df_merged.Z = df_merged.Z - df_merged.Z.min()

In [20]:
D_df = df_merged.pivot_table("Z","Formation","Name").fillna(0)
df_merged[["Z", "Formation", "Name"]]

             Z  Formation    Name
0       6063.1  -1.215791  10/4-1
1       6063.1  -1.176869  10/4-1
2       6063.1  -1.137946  10/4-1
3       6063.1  -1.099024  10/4-1
4       6063.1  -1.060102  10/4-1
...        ...        ...     ...
484299  6876.5  -0.631959   9/8-1
484300  6876.5  -0.593036   9/8-1
484301  6876.5  -0.554114   9/8-1
484302  6876.5  -0.515192   9/8-1
484303  6876.5  -0.359504   9/8-1

[484304 rows x 3 columns]

In [21]:
D_df

Name,10/4-1,10/5-1,10/7-1,10/8-1,11/10-1,11/5-1,11/9-1,15/12-1,15/12-10 S,15/12-11 S,...,9/2-8 ST4,9/2-9 S,9/3-1,9/3-2,9/4-1,9/4-2,9/4-3,9/4-4,9/4-5,9/8-1
Formation,,,,,,,,,,,,,,,,,,,,,
-1.215791,6210.476957,6488.074074,6422.168,6409.076923,6170.201429,6493.011538,0.0,4881.253333,5004.47,4688.518519,...,5685.413704,5624.271667,6446.601667,6001.112083,5783.740741,5711.192308,5729.25,5655.730769,5392.360455,6064.45
-1.176869,6210.476957,6488.074074,0.000,6409.076923,6170.201429,0.000000,0.0,4881.253333,5004.47,4688.518519,...,5685.413704,5624.271667,6446.601667,0.000000,5783.740741,5711.192308,5729.25,5655.730769,0.000000,6064.45
-1.137946,6210.476957,6488.074074,0.000,6409.076923,0.000000,6493.011538,0.0,0.000000,0.00,0.000000,...,5685.413704,5624.271667,6446.601667,6001.112083,5783.740741,5711.192308,5729.25,5655.730769,0.000000,0.00
-1.099024,6210.476957,6488.074074,0.000,6409.076923,6170.201429,6493.011538,0.0,0.000000,5004.47,4688.518519,...,5685.413704,5624.271667,6446.601667,6001.112083,5783.740741,5711.192308,5729.25,5655.730769,0.000000,6064.45
-1.060102,6210.476957,6488.074074,6422.168,0.000000,0.000000,6493.011538,0.0,4881.253333,5004.47,4688.518519,...,5685.413704,5624.271667,6446.601667,6001.112083,5783.740741,5711.192308,5729.25,5655.730769,5392.360455,6064.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2.871034,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00
2.909956,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00
2.948878,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00
2.987800,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00
3.026722,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.0,0.000000,0.00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00

In [23]:
R = D_df.values

In [24]:
from sklearn.preprocessing import binarize
A = binarize(R)

In [25]:
def runALS(A, R, n_factors, n_iterations, lambda_):
    """
    Runs Alternating Least Squares algorithm in order to calculate matrix.
    :param A: User-Item Matrix with ratings
    :param R: User-Item Matrix with 1 if there is a rating or 0 if not
    :param n_factors: How many factors each of user and item matrix will consider
    :param n_iterations: How many times to run algorithm
    :param lambda_: Regularization parameter
    :return:
    """
    print("Initiating ")
    MAE = []
    for i in range(1, n_factors):
        lambda_ = lambda_
        n_factors = i
        n, m = A.shape
        n_iterations = n_iterations
        Users = 5 * np.random.rand(n, n_factors)
        Items = 5 * np.random.rand(n_factors, m)

        def get_error(A, Users, Items, R):
            # This calculates the MSE of nonzero elements
            return np.sum((R * (A - np.dot(Users, Items))) ** 2) / np.sum(R)

        MSE_List = []

        print("Starting Iterations")
        for iter in range(n_iterations):
            for i, Ri in enumerate(R):
                Users[i] = np.linalg.solve(
                    np.dot(Items, np.dot(np.diag(Ri), Items.T))
                    + lambda_ * np.eye(n_factors),
                    np.dot(Items, np.dot(np.diag(Ri), A[i].T)),
                    ).T
            print(
                "Error after solving for User Matrix:",
                get_error(A, Users, Items, R),
                )

            for j, Rj in enumerate(R.T):
                Items[:, j] = np.linalg.solve(
                    np.dot(Users.T, np.dot(np.diag(Rj), Users))
                    + lambda_ * np.eye(n_factors),
                    np.dot(Users.T, np.dot(np.diag(Rj), A[:, j])),
                    )
            print(
                "Error after solving for Item Matrix:",
                 get_error(A, Users, Items, R),
                )

            MSE_List.append(get_error(A, Users, Items, R))
            print("%sth iteration is complete..." % iter)
        MAE.append(MSE_List)
    return Users, Items, MAE

In [26]:
U, Vt = runALS(R, A, 10, 5, 0.1)

Initiating
Starting Iterations
Error after solving for User Matrix: 7147970.0121754175
Error after solving for Item Matrix: 70838.15448494184
0th iteration is complete...
Error after solving for User Matrix: 17215.446039823022
Error after solving for Item Matrix: 2983.8719360025643
1th iteration is complete...
Error after solving for User Matrix: 733.6653165282422
Error after solving for Item Matrix: 205.03634808390817
2th iteration is complete...
Error after solving for User Matrix: 71.96306011021942
Error after solving for Item Matrix: 26.29332844640103
3th iteration is complete...
Error after solving for User Matrix: 11.41259231357416
Error after solving for Item Matrix: 5.033885399905418
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 4144864.541063763
Error after solving for Item Matrix: 20819.752442811183
0th iteration is complete...
Error after solving for User Matrix: 2533.599804274891
Error after solving for Item Matrix: 406.18495104550647
1th iteration is complete...
Error after solving for User Matrix: 84.26701851517277
Error after solving for Item Matrix: 21.022000029948412
2th iteration is complete...
Error after solving for User Matrix: 5.88887414768134
Error after solving for Item Matrix: 1.4043656351889247
3th iteration is complete...
Error after solving for User Matrix: 1.4338653283144562
Error after solving for Item Matrix: 0.6074576055457747
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 2760863.2026300365
Error after solving for Item Matrix: 23796.782957025873
0th iteration is complete...
Error after solving for User Matrix: 2811.8917660971406
Error after solving for Item Matrix: 431.1721488099882
1th iteration is complete...
Error after solving for User Matrix: 86.11573613066551
Error after solving for Item Matrix: 16.55127713009771
2th iteration is complete...
Error after solving for User Matrix: 8.31690932491836
Error after solving for Item Matrix: 1.184021918853967
3th iteration is complete...
Error after solving for User Matrix: 5.531607212702432
Error after solving for Item Matrix: 1.7640143584619252
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 2243531.7779628546
Error after solving for Item Matrix: 15939.272241450119
0th iteration is complete...
Error after solving for User Matrix: 2172.5122784724135
Error after solving for Item Matrix: 312.1795873777424
1th iteration is complete...
Error after solving for User Matrix: 50.82552833972255
Error after solving for Item Matrix: 7.0429373380589295
2th iteration is complete...
Error after solving for User Matrix: 4.4045375697826055
Error after solving for Item Matrix: 0.3586607851805556
3th iteration is complete...
Error after solving for User Matrix: 5.939205640688307
Error after solving for Item Matrix: 1.2546970252671101
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 2031770.724638048
Error after solving for Item Matrix: 12747.833029467678
0th iteration is complete...
Error after solving for User Matrix: 1038.4716543918564
Error after solving for Item Matrix: 75.84272722540895
1th iteration is complete...
Error after solving for User Matrix: 12.558891761750877
Error after solving for Item Matrix: 2.0732721228892235
2th iteration is complete...
Error after solving for User Matrix: 2.4275128474670367
Error after solving for Item Matrix: 0.28361044419070885
3th iteration is complete...
Error after solving for User Matrix: 2.3655366388906756
Error after solving for Item Matrix: 0.3061105444289836
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 1750966.9358457364
Error after solving for Item Matrix: 8080.082072369347
0th iteration is complete...
Error after solving for User Matrix: 897.1337007304114
Error after solving for Item Matrix: 93.77522594410885
1th iteration is complete...
Error after solving for User Matrix: 18.10254063125205
Error after solving for Item Matrix: 3.3484906031564234
2th iteration is complete...
Error after solving for User Matrix: 3.122784736834305
Error after solving for Item Matrix: 0.493617422475451
3th iteration is complete...
Error after solving for User Matrix: 2.766117945565966
Error after solving for Item Matrix: 0.7307904973268372
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 1552517.973898095
Error after solving for Item Matrix: 10228.968718903125
0th iteration is complete...
Error after solving for User Matrix: 1205.2225396502674
Error after solving for Item Matrix: 130.3565251395203
1th iteration is complete...
Error after solving for User Matrix: 24.335020689423327
Error after solving for Item Matrix: 3.764239781770753
2th iteration is complete...
Error after solving for User Matrix: 2.7951915459949124
Error after solving for Item Matrix: 0.31609730776058326
3th iteration is complete...
Error after solving for User Matrix: 2.5687454598716544
Error after solving for Item Matrix: 0.49479798551876064
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 1333116.4372323744
Error after solving for Item Matrix: 5537.315471553218
0th iteration is complete...
Error after solving for User Matrix: 625.1248734440736
Error after solving for Item Matrix: 61.65025986038305
1th iteration is complete...
Error after solving for User Matrix: 12.325589699602457
Error after solving for Item Matrix: 2.1548904681304566
2th iteration is complete...
Error after solving for User Matrix: 1.5868514294360434
Error after solving for Item Matrix: 0.21710928527003548
3th iteration is complete...
Error after solving for User Matrix: 1.265234951803135
Error after solving for Item Matrix: 0.22554177609198142
4th iteration is complete...
Starting Iterations
Error after solving for User Matrix: 1378387.185881928
Error after solving for Item Matrix: 5179.724364111174
0th iteration is complete...
Error after solving for User Matrix: 686.4225789504784
Error after solving for Item Matrix: 71.36162625298375
1th iteration is complete...
Error after solving for User Matrix: 11.830234130607929
Error after solving for Item Matrix: 1.6713590071273894
2th iteration is complete...
Error after solving for User Matrix: 2.7108004301367647
Error after solving for Item Matrix: 0.26658096838364137
3th iteration is complete...
Error after solving for User Matrix: 2.4336358497341486
Error after solving for Item Matrix: 0.5638590285130323
4th iteration is complete...

ValueError: too many values to unpack (expected 2)

In [28]:
recommendations = np.dot(U, Vt)

NameError: name 'U' is not defined