In [105]:
import pandas as pd
import numpy as np
import os

In [106]:
#reads in CSV file with Norway data
df = pd.read_csv("/Users/samirabr12/Downloads/Norway_Stan")

In [107]:
#Prints out data in dataframe
df.head()

,Unnamed: 0,Name,X,Y,True Vertical Depth,Normalized TVD,Formation
0,0,21675,628531.41,6394710.62,2732.90,0.175273,-1.215791
1,1,21660,628531.41,6394710.62,2732.90,0.175273,-1.176869
2,2,21656,628531.47,6394710.62,2794.90,0.179472,-1.137946
3,3,21664,628531.50,6394710.61,2826.90,0.181639,-1.099024
4,4,21668,628531.27,6394713.59,4516.88,0.296098,-1.060102

In [108]:
#Drops the column with index names "Unnamed:0" because it is not useful
cols = [0]
df.drop(df.columns[cols],axis=1,inplace=True)
df.head()

,Name,X,Y,True Vertical Depth,Normalized TVD,Formation
0,21675,628531.41,6394710.62,2732.90,0.175273,-1.215791
1,21660,628531.41,6394710.62,2732.90,0.175273,-1.176869
2,21656,628531.47,6394710.62,2794.90,0.179472,-1.137946
3,21664,628531.50,6394710.61,2826.90,0.181639,-1.099024
4,21668,628531.27,6394713.59,4516.88,0.296098,-1.060102

In [109]:
# Gets column names and prints them 
column_names = df.columns
print(column_names)
# Gets column data types
df.dtypes
# Checks if the column is unique
for i in column_names:
  print('{} is unique: {}'.format(i, df[i].is_unique))

Index(['Name', 'X', 'Y', 'True Vertical Depth', 'Normalized TVD', 'Formation'], dtype='object')
Name is unique: True
X is unique: False
Y is unique: False
True Vertical Depth is unique: False
Normalized TVD is unique: False
Formation is unique: False

In [110]:
# Check the index values
df.index.values

array([    0,     1,     2, ..., 21673, 21674, 21675])

In [111]:
#Drops the rows with NaN or empty cells because they are not needed
df = df.dropna()
df_cleaned = df.dropna(how='all')
#Prints the index values to check changes
df.index.values

array([    0,     1,     2, ..., 21673, 21674, 21675])

In [112]:
#Prints final dataframe after cleaning
df.head()

,Name,X,Y,True Vertical Depth,Normalized TVD,Formation
0,21675,628531.41,6394710.62,2732.90,0.175273,-1.215791
1,21660,628531.41,6394710.62,2732.90,0.175273,-1.176869
2,21656,628531.47,6394710.62,2794.90,0.179472,-1.137946
3,21664,628531.50,6394710.61,2826.90,0.181639,-1.099024
4,21668,628531.27,6394713.59,4516.88,0.296098,-1.060102